/******************************************************************
Theme Name: BoilerPress 1.0
Description: An HTML5/WordPress boilerplate created for myself and TMD.
Author: Michael Elias
Author URI: https://github.com/mikowl/BoilerPress/
Version: 1.0
*******************************************************************/

/* ==========================================================================

  CONTENTS: (Search #xxx next to name to easily navigate to section)
    01 Defaults
    02 Typography -typ
    03 Global Elements -glbl
      - Navigation -nav
      - Header -hdr
      - Footer -ftr
    04 Page Specific Elements -pse
      - Home -home
      - Blog -blog
    05 Forms/Buttons -forms
    06 Grid -gs
    07 Helper Classes -hc
    08 Media Queries -mc
    09 WordPress Base Styles -wpc
    10 Print Styles

  ========================================================================== */


/* ==========================================================================
  01 Defaults
   ========================================================================== */

@import "css/normalize.css";

.container, div, article, section, header, footer, nav, li {
/* For absolutely positioning elements within containers (add more to the list if need be) */
  position:relative;
}

::-moz-selection 	{ background:#B31622; color:#FFF; }
::selection 		{ background:#B31622; color:#FFF; }

/* ==========================================================================
   02 Typography #typ
   ========================================================================== */
/* Use ems y'alls

14 / 16	= 		0.875em 	(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 	(18px equivalent)
21 / 16 = 		1.3125em 	(21px equivalent)
24 / 16 = 		1.5em 		(24px equivalent)
30 / 16 = 		1.875em 	(30px equivalent)
*/

body, input, textarea {
  font-family: sans-serif;
}

p {

}

a {

}


h1, h2, h3, h4, h5, h6 {
  /*Probably going to want to change 'bold' to a number based on the font you're using */
  font-weight:bold;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


/* ==========================================================================
   03 Global Elements #glbl
   ========================================================================== */

.container {
  width:1100px;
  margin:0 auto;
}



/* Navigation #nav
   ========================================================================== */

nav ul {
  list-style: none;
}

nav li {
  display:inline-block;
}


/* Header #hdr
   ========================================================================== */





/* Footer #ftr
   ========================================================================== */






/* ==========================================================================
   04 Page Specific Elements #pse
   ========================================================================== */







/* Homepage #home
   ========================================================================== */






/* Blog Styles #blog
   ========================================================================== */







/* ==========================================================================
   05 Forms/Buttons #forms
   ========================================================================== */






/* ==========================================================================
  06 Grid #gs

  12 column grid system adapted from Bootstrap's fluid grid
  3 Column Layout Example:
  <div class="container">
    <div class="row">
      <div class="grid4">Column 1</div>
      <div class="grid4">Column 2</div>
      <div class="grid4">
        <div class="row">
          <div class="grid6">Column 3 split in half</div>
          <div class="grid6">Column 3 split in half</div>
        </div>
      </div>
    </div>
  </div>
   ========================================================================== */

.row {
  width: 100%;
  *zoom: 1;
}

.row:before, .row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

.row [class*="grid"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.564102564102564%;
  *margin-left: 2.5109110747408616%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row [class*="grid"]:first-child {
  margin-left: 0;
}

.nm [class*="grid"] {
  margin-left: 0;
}

.row.nm .grid8 {
  width: 68.37606837606838%;
  *width: 68.26968539734497%;
}

.row .grid12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.row .grid11 {
  width: 91.45299145299145%;
  *width: 91.39979996362975%;
}
.row .grid10 {
  width: 82.90598290598291%;
  *width: 82.8527914166212%;
}
.row .grid9 {
  width: 74.35897435897436%;
  *width: 74.30578286961266%;
}
.row .grid8 {
  width: 65.81196581196582%;
  *width: 65.75877432260411%;
}
.row .grid7 {
  width: 57.26495726495726%;
  *width: 57.21176577559556%;
}
.row .grid6 {
  width: 48.717948717948715%;
  *width: 48.664757228587014%;
}
.row .grid5 {
  width: 40.17094017094017%;
  *width: 40.11774868157847%;
}
.row .grid4 {
  width: 31.623931623931625%;
  *width: 31.570740134569924%;
}
.row .grid3 {
  width: 23.076923076923077%;
  *width: 23.023731587561375%;
}
.row .grid2 {
  width: 14.52991452991453%;
  *width: 14.476723040552828%;
}
.row .grid1 {
  width: 5.982905982905983%;
  *width: 5.929714493544281%;
}

/* ==========================================================================
   07 Helper classes #hc
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */

.invisible {
    visibility: hidden;
}

/* Clearfix */

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after { clear: both; }

.lt-ie8 .cf { *zoom: 1;}


/* ==========================================================================
  08 Media Queries #mq
   ========================================================================== */

/* 400 and up */
@media screen and (min-width:400px) {

  { /* Place your styles here for all widths greater than 400px */ }

}

/* Retina Display */
@media screen and (-webkit-min-device-pixel-ratio:2) {

  { /* Place your styles here for all 'Retina' screens */ }

}


/* ==========================================================================
   09 WordPress Core Styles #wpc
   These are the styles the WordPress post editor spits out when adding images, modify as needed.
   ========================================================================== */

.alignnone {
    margin: 5px;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size:0.875em;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* ==========================================================================
   10 Print Styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {text-decoration: underline;}
  a[href]:after {content: " (" attr(href) ")";}
  abbr[title]:after {content: " (" attr(title) ")";}
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: "";}

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {display: table-header-group; }
  tr, img {page-break-inside: avoid;}
  img {max-width: 100% !important;}

  @page {margin: 0.5cm;}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {page-break-after: avoid;}
}
